name: Create pihole01/02 VMs

on:
  workflow_dispatch:
    inputs:
      createMirror:
        description: 'Create local terraform mirror files'
        required: true
        default: false
        type: boolean
      skipTerraform:
        description: 'Skip creating or updating the VM'
        required: true
        default: false
        type: boolean

env:
  # VM_NAME: <defined via matrix strategy for each job>
  VM_FOLDER: /INFRA
  # VM_IP_ADDRESS: <defined via matrix strategy for each job>

jobs:
  create-opentofu-providers-mirror:
    if: ${{ inputs.createMirror }}
    runs-on: [self-hosted, linux, initial]
    container: ghcr.io/opentofu/opentofu:1.9.0
    steps:
      - uses: Anush008/clean-after-action@v4.2.0

      - uses: actions/checkout@v4

      - name: Create providers mirror
        run: |
          echo "[started] Creating mirror"
          cd terraform
          rm -rf ./mirror
          mkdir -p ./mirror
          tofu providers mirror ./mirror || tofu providers mirror ./mirror
          echo "[done] Creating mirror"
    
      - name: Workaround for git
        run: git config --global --add safe.directory '*'

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: 'terraform/mirror/*'
          commit_message: Automatic changes | OpenTofu Providers Mirror

  create-vm-from-template:
    if: ${{ !inputs.skipTerraform && !failure() && !cancelled() }}
    needs: [create-opentofu-providers-mirror]
    runs-on: [self-hosted, linux, initial]
    container: ghcr.io/opentofu/opentofu:1.9.0
    strategy:
      max-parallel: 1
      matrix:
        include:
          - vm_name: pihole01
            vm_ip_address: ${{ vars.DNS_SERVER_IPV4_LAB_PRIMARY }}
          - vm_name: pihole02
            vm_ip_address: ${{ vars.DNS_SERVER_IPV4_LAB_SECONDARY }}
    env:
      VM_NAME: ${{ matrix.vm_name }}
      VM_IP_ADDRESS: ${{ matrix.vm_ip_address }}
    steps:
      - uses: Anush008/clean-after-action@v4.2.0

      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Set variables in main.tf
        uses: tvarohohlavy/inplace-envsubst-action@v1.0.0
        env:
          STATEFILE_PATH:  "${{ env.VM_NAME }}/terraform.tfstate"
          TF_ENCRYPTION_KEY: ${{ secrets.TF_ENCRYPTION_PASSWORD }}
        with:
          variables: |
            $STATEFILE_PATH
            $TF_ENCRYPTION_KEY
          files: |
            terraform/main.tf

      - name: Create VM from template with OpenTofu
        id: create-vm
        working-directory: terraform
        run: |
          # init, plan, apply
          tofu init --plugin-dir ./mirror
          tofu plan -out "tfplan" | tee tfplan.log
          tofu apply -auto-approve "tfplan"
          # save tfplan to output for later use
          echo "TFPLAN<<EOF" >> $GITHUB_OUTPUT
          echo "$(cat tfplan.log)" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
        env:
          TF_LOG: "ERROR"
          # vCenter
          TF_VAR_vCenterServer: ${{ secrets.VCENTER_HOST }}
          TF_VAR_vCenterUsername: ${{ secrets.VCENTER_USER }}
          TF_VAR_vCenterPassword: ${{ secrets.VCENTER_PASS }}
          TF_VAR_vCenterInsecureConnection: ${{ secrets.VCENTER_INSECURE_CONNECTION }}
          TF_VAR_vCenterDatacenterName: ${{ vars.VCENTER_DATACENTER_NAME }}
          TF_VAR_clusterName: ${{ vars.VCENTER_CLUSTER_NAME }}
          TF_VAR_datastoreName: ${{ vars.VCENTER_DATASTORE_NAME }}
          # ubuntu 22.04 server x64
          TF_VAR_templateName: ${{ vars.UBUNTU_22_04_SERVER_X64_VM_TEMPLATE_NAME }}
          TF_VAR_libraryName: ${{ vars.VCENTER_PACKER_CONTENT_LIBRARY_NAME }}
          # specific to the VM
          TF_VAR_vmName: ${{ env.VM_NAME }}
          TF_VAR_vmFolder: ${{ env.VM_FOLDER }}
          # network
          TF_VAR_portGroup: ${{ vars.VCENTER_DEFAULT_PORT_GROUP }}
          TF_VAR_vmIPAddresses: "[\"${{ env.VM_IP_ADDRESS }}\"]"
          TF_VAR_vmIPNetmask: ${{ vars.VCENTER_DEFAULT_PORT_GROUP_NETMASK }}
          TF_VAR_vmIPGateway: ${{ vars.VCENTER_DEFAULT_PORT_GROUP_GATEWAY }}
          TF_VAR_dnsServerList: "[\"${{ vars.DNS_SERVER_IPV4_PUBLIC_PRIMARY }}\",\"${{ vars.DNS_SERVER_IPV4_PUBLIC_SECONDARY }}\"]"
          TF_VAR_vmDomain: ${{ vars.VM_DOMAIN_NAME_LAB }}
          # access
          TF_VAR_vmUsername: ${{ secrets.VM_USERNAME }}
          TF_VAR_vmPassword: ${{ secrets.VM_PASSWORD }}
          TF_VAR_authorizedSshKeys: "[\"${{ secrets.JT_SSH_PUBLIC_KEY }}\",\"${{ secrets.RUNNER01_SSH_PUBLIC_KEY }}\"]"

      - name: Workaround for git
        if: ${{ ! contains(steps.create-vm.outputs.TFPLAN, 'found no differences, so no changes are needed') }}  
        run: git config --global --add safe.directory '*'

      - uses: stefanzweifel/git-auto-commit-action@v5
        if: ${{ ! contains(steps.create-vm.outputs.TFPLAN, 'found no differences, so no changes are needed') }}
        with:
          file_pattern: 'terraform/${{ env.VM_NAME }}/terraform.tfstate'
          commit_message: Automatic Changes | Statefile for ${{ env.VM_NAME }}

  install-pihole:
    if: ${{ !failure() && !cancelled() }}
    needs: [create-vm-from-template]
    runs-on: [self-hosted, linux, initial]
    strategy:
      matrix:
        include:
          - vm_name: pihole01
            vm_ip_address: ${{ vars.DNS_SERVER_IPV4_LAB_PRIMARY }}
            files_path: pihole
            pihole_peer_ip: ${{ vars.DNS_SERVER_IPV4_LAB_SECONDARY }}
            pihole_peer_hostname: pihole02
          - vm_name: pihole02
            vm_ip_address: ${{ vars.DNS_SERVER_IPV4_LAB_SECONDARY }}
            files_path: pihole
            pihole_peer_ip: ${{ vars.DNS_SERVER_IPV4_LAB_PRIMARY }}
            pihole_peer_hostname: pihole01
    env:
      VM_NAME: ${{ matrix.vm_name }}
      VM_IP_ADDRESS: ${{ matrix.vm_ip_address }}
      FILES_PATH: ${{ matrix.files_path }}
      PIHOLE_PEER_IP: ${{ matrix.pihole_peer_ip }}
      PIHOLE_PEER_HOSTNAME: ${{ matrix.pihole_peer_hostname }}
    steps:
      - uses: Anush008/clean-after-action@v4.2.0

      - uses: actions/checkout@v4

      - name: Create Pihole admin password hash
        run: |
          PIHOLE_PASSWORD_HASH=$(echo -n '${{ secrets.VM_PASSWORD }}' | sha256sum | awk '{printf "%s",$1 }' | sha256sum | awk '{printf "%s",$1 }')
          echo "::add-mask::$PIHOLE_PASSWORD_HASH"
          echo "PIHOLE_PASSWORD_HASH=$PIHOLE_PASSWORD_HASH" >> $GITHUB_ENV

      - name: Set variables in configuration files
        uses: tvarohohlavy/inplace-envsubst-action@v1.0.0
        env:
          PASSWORD_HASH: ${{ env.PIHOLE_PASSWORD_HASH }}
          PIHOLE_DOMAIN_NAME: ${{ vars.VM_DOMAIN_NAME_LAB }}
          PIHOLE_DNS_1: ${{ vars.DNS_SERVER_IPV4_PUBLIC_PRIMARY }}
          PIHOLE_DNS_2: ${{ vars.DNS_SERVER_IPV4_PUBLIC_SECONDARY }}
          PIHOLE_DNS_3: ${{ vars.DNS_SERVER_IPV6_PUBLIC_PRIMARY }}
          PIHOLE_DNS_4: ${{ vars.DNS_SERVER_IPV6_PUBLIC_SECONDARY }}
        with:
          variables: |
            $PASSWORD_HASH
            $PIHOLE_DOMAIN_NAME
            $PIHOLE_DNS_1
            $PIHOLE_DNS_2
            $PIHOLE_DNS_3
            $PIHOLE_DNS_4
          files: |
            ${{ env.FILES_PATH }}/etc/pihole/setupVars.conf

      - name: Copy setupVars.conf to VM
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ env.VM_IP_ADDRESS }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.RUNNER01_SSH_PRIVATE_KEY }}
          source: "${{ env.FILES_PATH }}/etc/pihole/setupVars.conf"
          target: "/home/${{ secrets.VM_USERNAME }}"
          strip_components: 3

      - name: Install Pihole
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ env.VM_IP_ADDRESS }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.RUNNER01_SSH_PRIVATE_KEY }}
          script: |
            # Make sure /etc/pihole exists
            sudo mkdir -p /etc/pihole
            # Move setupVars.conf for Pihole
            sudo mv /home/${{ secrets.VM_USERNAME }}/setupVars.conf /etc/pihole/setupVars.conf
            # Update /etc/pihole/custom.list
            sudo echo "${{ vars.LAB_PIHOLE_CUSTOM_LIST }}" > /etc/pihole/custom.list
            # Update /etc/hosts
            sudo tee /etc/hosts >/dev/null <<-EOF
                127.0.0.1       localhost
                ::1             localhost ip6-localhost ip6-loopback
                fe00::0         ip6-localnet
                ff00::0         ip6-mcastprefix
                ff02::1         ip6-allnodes
                ff02::2         ip6-allrouters
                127.0.1.1       ${{ env.VM_NAME }}.${{ vars.VM_DOMAIN_NAME_LAB }} ${{ env.VM_NAME }}
                ${{ env.PIHOLE_PEER_IP }}      ${{ env.PIHOLE_PEER_HOSTNAME }}.${{ vars.VM_DOMAIN_NAME_LAB }} ${{ env.PIHOLE_PEER_HOSTNAME }}
            EOF
            # Install Pihole
            curl -sSL https://install.pi-hole.net | sudo bash /dev/stdin --unattended
